<div class="content-text">
    <h1>Contact Us</h1>
    <h2>We'd like to hear from you...</h2><br>
  </div>

<div class="contact-us">
<div class="grid">
      <div class="col-6">
      <label for="fname">Company:</label>
        <h3>ABC Company Ltd.</h3>
      <label for="lname">Address:</label>
        <h3>Sky Parks, Level 3,</h3>
        <h3>Malta International Airport</h3>
        <h3>Luqa</h3>
        <h3>Malta</h3>
      <label for="email">Email:</label>
        <h3><a href= "mailto: info@abc-company.com"> Click to Send</a></h3>
      <label for="message">Telephone:</label>
      <h3>21 123 456</h3>
      <h3>79 123 456</h3>
  </div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5819.227357138387!2d14.494879473874748!3d35.848572133159124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130e5b5fc64f08a3%3A0x27454b6b0ac1629!2sMcDonald&#39;s!5e0!3m2!1sen!2smt!4v1717331742628!5m2!1sen!2smt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
</div>