<mat-card class="m-1">
    <mat-card-header>
      <mat-card-title>{{vehicle.make}} {{vehicle.model}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="vehicle.photoUrl ? vehicle.photoUrl: 'https://material.angular.io/assets/img/examples/shiba2.jpg'" alt="Photo">
    <div class="buttons">
    <mat-card-actions><a [routerLink]="[ '/vehicle', vehicle._id]">
      <button mat-button>Details</button></a>
    </mat-card-actions>
    <mat-card-actions>
      <button mat-button>Buy</button>
    </mat-card-actions>
  </div>
  </mat-card>
  
