<div class="footer">
    <div class="grid">
        <div class="p-col-5 col-5 banner-text">
            <h3>Footer</h3>
            <h3>The Best Vehicles... only at our showroom</h3>
        </div>
                <ul class="nav">
                    <li><a class="p-column-5 social-media pi pi-facebook"
                        href="https://www.facebook.com"
                        target="_blank"
                        ></a></li>
                    <li><a class="p-column-5 social-media pi pi-tiktok"
                        href="https://www.tiktok.com"
                        target="_blank"
                        ></a></li>
                    <li><a class="p-column-5 social-media pi pi-instagram"
                        href="https://www.instagram.com"
                        target="_blank"
                        ></a></li>
                </ul>
     </div>
</div>