@import '../../../styles.scss';


header {
    padding-top: 10px;
    margin-bottom: 25px;

    .grid{
    
        .logo {
            
            img {
                width: 100px;
            }
        }
    
    
        .tools {
            li{

            padding-top: 5px;
            list-style-type: none;
            display: inline-block;

            
            .pi {
                cursor: pointer;
                margin-right: 10px;

                &:hover {
                    color: $primary-color;
                }
                
            }
        }
        }
    }
    }