#navbar
{
    
    display: flex;
    gap: 15px;
    justify-content: right;
    padding-top: 10px;
    
}

#cartbutton
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}