<div class="admin-sidebar">
    <div class="links">
        <ul>
            <li>
                <a routerLink="/dashboard"><i class="pi pi-home"></i> Dashboard</a>
            </li>
            <li>
                <a routerLink="/vehicles"><i class="pi pi-briefcase"></i> Vehicles</a>
            </li>
            <li>
                <a routerLink="/orders"><i class="pi pi-shopping-cart"></i> Orders</a>
            </li>
            <li>
                <a routerLink="/users"><i class="pi pi-users"></i> Users</a>
            </li>
            <li>
                <a routerLink="/logout"><i class="pi pi-sign-out"></i> Logout</a>
            </li>
        </ul>
    </div>
</div>